body{
    background-color: bisque;
}

#questionContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.quesCard{
    border: 1px solid red;
    padding: 30px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip{
    transform: rotateX(180deg);
}

#qbtn{
    margin-top: 20px;
    padding: 8px 30px;
    background-color: green;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#sbmt{
    color: white;
    font-weight: 500;
    font-size: 18px;
}